{% extends 'main.html' %}


{% block content  %}

<form action="{% url 'Input' %}">


    <body class="body_start">

        <div class="container_header">


            <h class="header">مرحباً بك</h>
        
            

        </div> 
        
        
        <div class="container">

            <h class="header">هذا الموقع يساعدك علي تنبؤ إذا كان العميل<br> .سوف يلتزم بسداد القرض ام لا</h>
            <button class = "start">بدأ</button>
            
        </div>   



    </body>

    

</form>

{% endblock content %}

